[user]
	email = sineemore@disroot.org
	name = sineemore
[alias]
	l = log --oneline
	c = commit -v
	s = status -sb
	co = checkout
	a = add -p
	r = reset
	d = diff

[core]
	pager = less -F
[credential]
	helper = store
[pull]
        ff = only
